@import url("reset.css");
@import url("components.css");

body {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    background-color: #0f172a;
    color: #fff;
}
.wrapper {
    block-size: 100%;
    display: flex;
    flex-direction: column;
    block-size: 100%;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}
/* Обмежуючий контейнер */
[class*="__container"] {
    max-inline-size: 1310px;
    margin-inline: auto;
    padding-inline: 15px;
}

/* header */
.header__body {
    padding: 24px;
    column-gap: 38px;
    row-gap: 5px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
display: grid;
align-items: center;
grid-template-columns: auto 1fr auto;
}
.header__link-logo {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
}
.actions-header {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}
.menu__list {
    display: flex;
    gap: 32px;
}
.menu__link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.5px;
}